/* CDISC primary colors */
/* CDISC secondary colors */
/* CDISC tertiary colors */
/*CDISC custom colors*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  font-family: "azo-sans-web";
  font-style: normal;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: #134678; }

.cdisc-primary-blue {
  background-color: #134678; }
